@{
    ViewBag.Title = "Willkommen";
}

<div class="row">
    <div class="col-xs-12" style="margin-top: 20px;">
        <h1>Pool4You - Public Opinion Poll For You!</h1>
        <p class="lead">Erstelle, Verwalte und Teile dynamische Umfragen auf Knopfdruck!</p>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
        <div class="imgAbt">
            <img src="/Theme/images/section-image-1.png" />
        </div>
    </div>
    <div class="col-md-8">
        <p>Abstimmungen, Terminfindungen, Umfragen oder komplexe Meinungsforschung. Mit <b>Pool4You</b> ist all das nur einen Knopfdruck entfernt. Im Browser oder auf dem Handy - <b>Pool4You</b> ist immer verfügbar, wenn Du es benötigst. <br /><br />Mit den grafischen Auswertungsmöglichkeiten hast Du die aktuellen Ergebnisse immer im Blick und verlierst nie den Überblick. <br /><br /><b>Neugierig geworden?</b><br /><br /> Dann erstelle jetzt deinen <b>kostenlosen</b> Account!</p><br />
        <p style="margin: 0px auto;">
            @Html.ActionLink("Registrieren »", "Register", "Account", null, new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Anmelden »", "Login", "Account", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
        <h2>Abstimmungen</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Mehr erfahren &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Terminfindungen</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Mehr erfahren &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dynamische Umfragen</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Mehr erfahren &raquo;</a></p>
    </div>
</div>