@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right" style="padding-top: 10px;">
        <li>
            @Html.ActionLink("Willkommen " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Abmelden</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="padding-top: 10px;">
        <li>@Html.ActionLink("Registrieren", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @style = "color: black; font-weight: bold;", @onMouseOver = "this.style.color='grey'", @onMouseOut = "this.style.color='black'" })</li>
        <li>@Html.ActionLink("Anmelden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @style = "color: black; font-weight: bold;", @onMouseOver = "this.style.color='grey'", @onMouseOut = "this.style.color='black'" })</li>
    </ul>
}
